body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
	text-align: center;
}

.main-window{
	align-content: center;
	margin:auto;
	width:60%;
	height:100%;
	border:  1px solid #3B6273;
}

.main-window-2{
	align-content: center;
	margin:auto;
	width:60%;
	height:100%;
	border:  1px solid #3B6273;
}

.header-1{
	align-content: center;
	margin:auto;
	text-align:center;
	background:#03A9F4;
	border-bottom:#448AFF 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;
}
.header-2{
	align-content: center;
	margin:auto;
	text-align:center;
	background:#009900;
	border-bottom:#008000 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;
}

.main-header{
			text-align:center;
			background-color: blue;
			height:100px;
			width:70%;
			margin:0px;
}

#brandname{
	text-align: center;
	font-size:19px;
	color: #fff;
	margin: 10px;
}

header h2{
	text-align:center;
	color:#fff;

}



.btn-info {background-color: #03A9F4;
	margin-left:1%;
	border-radius: 5px;

} /* Blue */
.btn-info:hover {
	background: #0b7dda;
	color: white;
}


.resultss{
	border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.info-view{
	align-content: center;
	margin:auto;
	width: 100%;
	height:400px;
}

.info-view-2{
	align-content: center;
	margin:auto;
	width: 100%;
	height:600px;
}


.log-preview-area{
	margin-top:2%;
	margin-left:1%;
	alignment: right;
	text-align: left;
	width: 97%;
	border: 1px solid #3B6273;
}

.fileinput-button{
	margin-left:1%;
	margin-top:2%;
	position: relative;
	display: inline-block;
}

.model-select{
	margin-left:1%;
}

.inner-left-area{
	margin: 0.5%;
	float:left;
	width:47%;
	height:386px;
	position: relative;
	border: 1px solid #3B6273;
}

.inner-right-area{
	margin:0.5%;
	float:right;
	display: inline-block;
	height:387px;
	width:50%;
	align-content: center;
	position: relative;
	border:  1px solid #3B6273;
}

.file-read-button{
	margin-top:2%;
	margin-left:1%;
}

#file-contents{
	width:97%;
	height:80%;
	resize:none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,th {
    padding: 0;
}
.log-table ,.result-table{
	margin-left:2%;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.log-table caption ,.result-table caption{
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: left;
}

.log-table  td,.log-table  th ,.result-table td,.result-table th{
    border-left: 1px solid #cbcbcb;
	font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}




